/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  margin-top: 10%;
  margin-left: 5%;
  vertical-align: middle;
  text-align: left;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}


/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../images/about/1960.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






